* {
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
}

/*Uncomment the body tag to see what happens!*/
/* Try centering only the titles */
/*body {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
}
*/

div.css-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background: #72E81D;
}

#css-heading{
    font-family: "Times New Roman", Times, serif;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background: #0066ff;
}

#css-subtitle1{
    font-style: oblique;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: #0066ff;
    background: #003300;
}

#css-subtitle2{
    font-family: arial;
    margin: 10px;
    padding: 5px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #ff3300;
    background: #660066;
}



h1 {
  margin: 25px;
  margin-top: 30px;
}

h2 {
  margin: 20px;
  margin-top: 5px;
}

ul, ol {
  margin-left: 30px
}

div.text-styling{
  margin-left: 30px
}

article {
  width: 400px;
  background: #fff;
  padding: 20px 20px 0;
  font-size: 18px;
  max-height: 270px;
  overflow: hidden;
  transition: max-height 1s;
  text-align: justify;
  margin-top: 20px;
}

button.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
  margin-bottom: 16px;
}

div.link-div {
  color: #000000;
}

article.open {
  max-height: 1000px;
}

button {
  background: #0e0b22;
  color: #fff;
  padding: 0.6rem;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
  background: #1e1d25;
}

h2.name{
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

button.blue {
    background-color: #3498db;
}

button.green {
    background-color: #2ecc71;
}

button.orange {
   background-color: orangered;
}

div.color-change-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#your-name {
    background-color: #000000;
    color: #ffff00;
}
